<div class="container">
    <h1>Detalles de {{title}}</h1>

    <hr>

    <p>Sinopsis: {{description}}</p>
    <p>Autor/a: {{author}}</p>
    <p>Puntuación: {{rating}}</p>

    <hr>

    <a href="/libros/listado" class="btn btn-dark">Volver al listado</a>
</div>